.App {
  font-family: sans-serif;
}

.logo {
  width: 160px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: right;
}

.btn {
  margin: auto;
}

.main {
  height: 500px;
  overflow: hidden;
  /* position: relative; */
  border: 1px solid #ebedf0;
  border-radius: 2px;
  background: #fff5f5;
}

.bar {
  width: 20%;
  margin-top: 100px;
  margin-left: 15px;
}

.barChange {
  margin-left: 45%;
  margin-top: -110px;
}

.barChange1 {
  width: 50%;
  margin-top: 70px;
  margin-left: 50px;
}

.btnGrp {
  margin-left: 330px;
  margin-top: 10px;
}

.drawer {
  /* position: absolute; */
}

.list {
  /* background-color: aqua; */
}

/* style={{
    height: 600,
    overflow: "hidden",
    position: "relative",
    border: "1px solid #ebedf0",
    borderRadius: 2,
    // padding: 48,
    // //textAlign: "center",
    background: "#fafafa"
  }} */
